html {
    background-color: silver
}

h1 {
  text-align: center;
  font-weight: 500;
}

.button {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid black;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:black;
  text-align:center;
  transition: all 0.2s;
}
.button:hover{
  color:gray;
  border-color: gray;
}
.button:active{
  color:slategray;
  border-color:slategray;
}
@media all and (max-width:30em){
  .button{
    display:block;
    margin:0.4em auto;
 }
}
    
#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}
