html {
    background-color: #A8A8A8
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.Options {
  margin:0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
  margin:15px 30px;
}
.btn:hover {background-color: darkslategray}
.btn:active {
  background-color: darkslategray;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

p {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
