html {
    background-color: lightgray
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.deviceConnect {
  margin:0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px #999;
  margin:5px 10px;
}
.btn:hover {background-color: darkslategray}
.btn:active {
  background-color: darkslategray;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

h2 {
  font-size: 30px;
  font-weight:200;
}

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}
